extends ../templates/layout

append styles
    link(rel='stylesheet', href='/stylesheets/music.css')

block aside-menu
    aside.aside-menu
        nav.aside-menu-options
            each option in options
                li.aside-menu-item
                    a.aside-menu-link(href= option.url) #{option.name}

block main-section
    section.main-section
        header.main-section-header
            h1.main-section-title= sectionTitle
            .main-section-options
                .main-section-option-set.display-options
                    button.main-section-option
                        img.main-section-option-icon(src="/media/images/square-solid.svg", alt="picture")
                    button.main-section-option
                        img.main-section-option-icon(src="/media/images/list-solid.svg", alt="list")
                .main-section-option-set.content-options
                    button.main-section-option
                        img.main-section-option-icon(src="/media/images/music-solid.svg", alt="songs")
                    button.main-section-option
                        img.main-section-option-icon(src="/media/images/album.png", alt="albums")
                    button.main-section-option
                        img.main-section-option-icon(src="/media/images/microphone-lines-solid.svg", alt="artists")
                .main-section-option-set.sort-options
                    select.sort-by-select(name="sort-by")
                        option(value="plays") Plays
                        option(value="title") Title
                        option(value="artist") Artist
                        option(value="album") Album
                        option(value="date") Date
                    select.sort-order-select(name="sort-order")
                        option(value="descending") Descending
                        option(value="ascending") Ascending
        main.main-section-content
            each item in items
                .main-section-item(
                    data-db-id=item._id,
                    data-is-favorite=item.favorite.toString()
                )
                    -
                        let imgSrc = '/media/images/unknown.png';
                        if (item.cover && item.cover.length > 0 && item.cover[0].data) {
                            imgSrc = 'data:image/jpeg;base64,' + item.cover[0].data.toString('base64');
                        }
                    img.main-section-item-image(
                        src=imgSrc,
                        alt=item.title
                    )
                    h2.main-section-item-heading= item.title
                    p.main-section-item-album
                        em.main-section-item-album-text= item.album
                    p.main-section-item-description= item.artist
                    img.main-section-item-favorite-icon(src="/media/images/heart-solid.svg", alt="favorite")

append scripts
    script(src="/javascript/music.js", type='module')
