extends ../templates/layout

append styles
    link(rel='stylesheet', href='/stylesheets/music.css')

block aside-menu-options
    each option in options
        li.menu-item
            a.menu-link(href= option.url, data-path= option.url) #{option.name}

block aside-submenu-options
    each option in subOptions
        li.menu-item
            a.menu-link(href= option.url, data-path= option.url) #{option.name}

block main-section
    section.main-section
        header.main-section-header
            h1.main-section-title= sectionTitle
            .main-section-options
                .main-section-option-set.display-options
                    button.main-section-option [grid_
                    button.main-section-option [list_
                .main-section-option-set.sort-options
                    select.sort-by-select(name="sort-by")
                        option(value="plays") [plays_
                        option(value="title") [title_
                        option(value="artist") [artist_
                        option(value="date") [date_
                    select.sort-order-select(name="sort-order")
                        option(value="descending") [descending_
                        option(value="ascending") [ascending_
        main.main-section-content
        .main-section-template
            .main-section-element-template.main-section-item(
                data-db-id='{{id}}',
                data-is-favorite='{{favorite}}'
            )
                img.main-section-item-image(
                    src='{{imgSrc}}',
                    alt='{{title}}'
                )
                h2.main-section-item-heading {{title}}
                p.main-section-item-album
                    em.main-section-item-album-text {{album}}
                p.main-section-item-description {{artist}}
                img.main-section-item-favorite-icon(src="/media/images/heart-solid.svg", alt="favorite")

append scripts
    script(src="/javascript/music.js", type='module')
